In [1]:
import numpy as np
import pandas as pd

##### Creation Date:
##### January 30 2022
##### Created By Alperen KOLAMUC

In [2]:
people = {"name":["Finley", "Andrew", "Blake"], "last_Name":["Brown", "Bradley", "Huges"], "age":[23,21,34]}

In [3]:
student_df = pd.DataFrame(people)

##### DataFrame'in Column İsimlerine Ulaşmak

In [4]:
people

{'name': ['Finley', 'Andrew', 'Blake'],
 'last_Name': ['Brown', 'Bradley', 'Huges'],
 'age': [23, 21, 34]}

In [6]:
people.keys()

dict_keys(['name', 'last_Name', 'age'])

In [5]:
student_df

     name last_Name  age
0  Finley     Brown   23
1  Andrew   Bradley   21
2   Blake     Huges   34

In [7]:
student_df.columns

Index(['name', 'last_Name', 'age'], dtype='object')