In [1]:
import numpy as np
import pandas as pd

##### Creation Date:
##### January 30 2022
##### Created By Alperen KOLAMUC

##### DataFrame - Set Index

In [6]:
student = {
           "name":["Finley", "Andrew", "Blake"], 
           "last_Name":["Brown", "Bradley", "Huges"], 
           "age":[23,21,34],
           "number":[101,105,109]
           }

In [7]:
df = pd.DataFrame(student)

In [8]:
df

     name last_Name  age  number
0  Finley     Brown   23     101
1  Andrew   Bradley   21     105
2   Blake     Huges   34     109

* Şu an DataFrame'in indexleri 0,1,2 şeklinde. Bunlar pek belirleyici değil
* Her öğrenciye özel bir yapıyı index olarak kullansak, row'ların adı onlarla anılsa daha belirleyici olurdu
* Student Number bunu sağlayabilir. Her öğrencinin özgün öğrenci numarası ve o numarayı seçince hang, öğrenc,den bahsettiğimiz belirli oluyor

In [10]:
# Hangi column'u index yapacaksak input olarak adını yazıyoruz
df.set_index("number")

          name last_Name  age
number
101     Finley     Brown   23
105     Andrew   Bradley   21
109      Blake     Huges   34

In [11]:
# DataFrame değişmez. Değişmesi için "inplcae=True" yapılması lazım
df

     name last_Name  age  number
0  Finley     Brown   23     101
1  Andrew   Bradley   21     105
2   Blake     Huges   34     109

In [12]:
df.set_index("number", inplace=True)

In [13]:
df

          name last_Name  age
number
101     Finley     Brown   23
105     Andrew   Bradley   21
109      Blake     Huges   34

In [14]:
df["name"]

number
101    Finley
105    Andrew
109     Blake
Name: name, dtype: object