In [1]:
import numpy as np
import pandas as pd

##### Creation Date:
##### January 30 2022
##### Created By Alperen KOLAMUC

### DataFrame - Row'lara Ulaşmak
#### iloc
* `iloc` bize DataFrame'in rowlarına lokasyon bazlıı erişmemizi sağlar. Rowların **labellarına (etiketlerine) göre erişim sağlamaz**

In [4]:
df = pd.read_csv("student.csv")
df.set_index("number", inplace=True)

In [5]:
df

             name lastName  age
number
401       Alperen  Kolamuc   18
303     Cristiano  Ronaldo   35
105         Sinan    Engin   48
216         Fırat  Aydınus   42

In [6]:
df.iloc[0]

name        Alperen
lastName    Kolamuc
age              18
Name: 401, dtype: object

In [7]:
# 401 konumu olmadığı için hata verecektir
df.iloc[401]

IndexError: single positional indexer is out-of-bounds

In [9]:
df.iloc[1,1]

'Ronaldo'

In [10]:
df.iloc[0].age

18

#### Fancy Indexing

In [11]:
df

             name lastName  age
number
401       Alperen  Kolamuc   18
303     Cristiano  Ronaldo   35
105         Sinan    Engin   48
216         Fırat  Aydınus   42

In [13]:
df.iloc[[0,2]]

           name lastName  age
number
401     Alperen  Kolamuc   18
105       Sinan    Engin   48

In [14]:
df.iloc[[0,2]][["name", "age"]]

           name  age
number
401     Alperen   18
105       Sinan   48