In [1]:
import numpy as np
import pandas as pd

##### Creation Date:
##### January 30 2022
##### Created By Alperen KOLAMUC

In [2]:
student_df = pd.read_csv("student.csv")

#### Apply
* Fonksiyonları DataFrame ve Series onjelere uygulamamızı sağlar
* Apply uygulandığı yapının alt elemanlarına etki eder. DataFrame'in alt elemanları Series olduğu için onlara, Series'e apply uygulanınca da onların elemanlarına etki edecek

#### Series'de Apply

In [3]:
student_df

        name lastName  age  number
0    Alperen  Kolamuc   18     401
1  Cristiano  Ronaldo   35     303
2      Sinan    Engin   48     105
3      Fırat  Aydınus   42     216

In [4]:
student_df["name"]

0      Alperen
1    Cristiano
2        Sinan
3        Fırat
Name: name, dtype: object

In [6]:
student_df["name"].apply(len)

0    7
1    9
2    5
3    5
Name: name, dtype: int64

In [7]:
def update_number(n):
    return n + 100

In [8]:
student_df["number"]

0    401
1    303
2    105
3    216
Name: number, dtype: int64

In [9]:
student_df["number"].apply(update_number)

0    501
1    403
2    205
3    316
Name: number, dtype: int64

In [11]:
student_df["number"].apply(lambda x: x + 100)

0    501
1    403
2    205
3    316
Name: number, dtype: int64

* `lambda` [input parameter] : [return parameter]

In [22]:
student_df.loc[4] = ["Ertem", "Şener", 36, 500]
student_df

        name lastName  age  number
0    Alperen  Kolamuc   18     401
1  Cristiano  Ronaldo   35     303
2      Sinan    Engin   48     105
3      Fırat  Aydınus   42     216
4      Ertem    Şener   36     500

In [23]:
len(student_df)

5

In [24]:
student_df["name"].apply(len)

0    7
1    9
2    5
3    5
4    5
Name: name, dtype: int64

In [25]:
student_df.apply(len, axis="columns")

0    4
1    4
2    4
3    4
4    4
dtype: int64

In [26]:
student_df.apply(len, axis="rows")

name        5
lastName    5
age         5
number      5
dtype: int64

In [27]:
student_df.shape

(5, 4)